{% extends "base2.html" %}
{% load staticfiles %}

{% block content %}
<body>
  <!--navigation-->
<div class="container-fluid">
  <nav class="navbar justify-content-between">
    <div class="navbar-header pull-left">
      <a href="{% url 'index' %}">
        <img src="{% static 'images/logo.jpg' %}"  width="100px" height="80px">
      </a>
    </div>

    <div id="selector" class="menubar">
    <select class="form-control options fa fa-search fa-fw pull-right" style="width:90%">
        <option value="{% url 'datavis' %}">Line Graph</option>
        <option value="{% url 'locationcloud' %}">Location Cloud</option>
    </select>
</div>
<script>
    $(function(){
        // bind change event to select
        $('#selector select').bind('change', function () {
            var url = $(this).val(); // get selected value
            if (url) { // require a URL
                window.location = url; // redirect
            }
            return false;
         });
     });
 </script>
  </nav>
<!-- End Navigation -->

  <div class="container-fluid" id="home">
    <div class="row">
     <div class="col-md-6 grid">
       <div class="span6">
       <script>
          // set the dimensions and margins of the graph
          var margin = {top: 20, right: 20, bottom: 30, left: 50},
             width = 400 - margin.left - margin.right,
              height = 500 - margin.top - margin.bottom;
          // parse the date / time
          var parseTime = d3.timeParse("%Y-%m-%d");
          // set the ranges
          var x = d3.scaleTime().range([0, width]);
          var y = d3.scaleLinear().range([height, 0]);
          // define the line
          var valueline = d3.line()
              .x(function(d) { return x(d["date created"]); })
              .y(function(d) { return y(d["comments"]); });

          // append the svg obgect to the body of the page
          // appends a 'group' element to 'svg'
          // moves the 'group' element to the top left margin
          var svg = d3.select("body").append("svg")
              .attr("width", 400)
              .attr("height", height + margin.top + margin.bottom)
              .attr("class", "pull-left")
            .append("g")
              .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");
          function draw(data, country) {

            var data = data[country];

            // format the data
            data.forEach(function(d) {
                d["date created"] = parseTime(d["date created"]);
                d.comments = +d.comments;
            });

            // sort years ascending
            data.sort(function(a, b){
              return a["date created"]-b["date created"];
          	});

            // Scale the range of the data
            x.domain(d3.extent(data, function(d) { return d["date created"]; }));
            y.domain([0, d3.max(data, function(d) {
          	  return d["comments"]; })]);

            // Add the valueline path.
            svg.append("path")
                .data([data])
                .attr("class", "line")
                .attr("d", valueline);

            // Add the X Axis
            svg.append("g")
                .attr("transform", "translate(0," + height + ")")
                .attr("class", "axisWhite")
                .call(d3.axisBottom(x));

            // Add the Y Axis
            svg.append("g")
                .attr("class", "axisWhite")
                .call(d3.axisLeft(y));

            svg.append("text")
              .attr("transform", "rotate(90)")
                .attr("y", -25)
                .attr("x",75)
                .attr("dy", "1em")
                .style("text-anchor", "middle")
                .text("Number of Comments");
            }
          // Get the data
          d3.json("{% static 'json/redditData.json' %}", function(error, data) {
            if (error) throw error;

            // trigger render
            draw(data, "submissions");

          });
</script>
</div>
    </div>

    <div class="col datavis" id="showData">
      <div class="span3">
       <table id="newsapi-table">

      </table>
      <script>
          $(document).ready(function () {
            $.getJSON("{% static 'json/newsdata.json' %}",function(data){
              var newsapi_data = '';
              for( var i = 0; i < data.articles.length; i++) {
                newsapi_data += "<tr>";
                newsapi_data += '<td><img src=' + data.articles[i].urlToImage + ' class = "newsicons pull-left" ></img>';
                newsapi_data += '<a href="' + data.articles[i].url + '" target="_blank">' + data.articles[i].title + '</a>';
                newsapi_data +=  "<br>" + data.articles[i].author +"</td>";
                newsapi_data += "</tr>";
              }
              $('#newsapi-table').append(newsapi_data);
            });
          });
      </script>
    </div>
    </div>
     </div>
 </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
   <!-- <script src="js/bootstrap.js"></script> -->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>
{% endblock %}
